.contact_form {
    width: 100%;
    height: auto;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    width: 30%;
    
}

.input_txt {
    margin-bottom: 20px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 800px){
    .contact_form form {
        width: 70%;
    }
}


@media screen and (max-width: 400px){
    .contact_form form {
        width: 60%;
        
    }
}